  button {
    cursor: pointer;
    appearance: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
  }

  .colorRed{
    background: red;
  }

  .buttonZ{
    background: black;
  }

  .save{
    background: rgb(219, 223, 12);
    color:rgb(49, 36, 36);
  }

  .buttonZ:active {
    background: rgb(49, 36, 36);
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

  .colorRed:active {
    background: rgb(141, 9, 9);
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

  .save:active {
    background: rgb(117, 119, 11);
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

  .buttonPolygon{
    background: rgb(3, 236, 53);
  }

  .buttonPolygon:active {
    background:rgb(50, 170, 76);
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

  .deleteCircle{
    background: rgb(49, 9, 228);
  }

  .deleteCircle:active {
    background: rgb(70, 46, 202);
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }